OgrenciYonetimSistemi/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ders">
    <xs:sequence>
      <xs:element minOccurs="0" name="DersAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupNo" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="KrediSayisi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ders" nillable="true" type="tns:Ders" />
  <xs:complexType name="ArrayOfDers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ders" nillable="true" type="tns:Ders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDers" nillable="true" type="tns:ArrayOfDers" />
</xs:schema>